# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# IDE
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public/runtime-env.js

# misc
.DS_Store
.env.local
.env.test.local
.env.production.local
.env.development
.env.development.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
