.Hero {
  position: relative;
  height: 100vh;
  padding: 32px 0;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background-image: url(../../assets/images/bitmap.png);
    opacity: 0.05;
  }

  svg {
    display: block;
    margin: 0 auto;
  }

  header div {
    position: absolute;
    top: 60px;
    right: 60px;
    display: flex;
    flex-direction: column;

    button {
      height: 34px;
      padding: 0 16px;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.58px;
      background-color: #fff;
      border: 1px solid #686868;
      border-radius: 12px;

      &:first-of-type {
        margin-bottom: 13px;
      }
    }
  }
}

.HeroImage {
  display: block;
  width: calc(100% - 100px);
  height: 75%;
  margin: 0 auto;
  background-image: url(../../assets/images/hero@3x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Title {
  max-width: 920px;
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 60px;
  text-align: center;
  letter-spacing: -1.44px;
}

.TaskBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #6146ff, #9300ff);
  border-radius: 12px;
  outline: none;

  .TaskText {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    user-select: none;
  }

  .TaskText,
  textarea {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    color: #fff;
    letter-spacing: -0.53px;
  }

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    border-radius: 12px;
    outline: none;
    caret-color: #fff;
  }
}

.AddingTaskBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  cursor: pointer;
  background-color: #e8e8e8;
  border-radius: 12px;
  outline: none;

  &.isDisabled {
    pointer-events: none;
    opacity: 0.5;
  }

  textarea {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    letter-spacing: -0.53px;
    resize: none;
    background-color: transparent;
    border: none;
    border-radius: 12px;
    outline: none;
    caret-color: #000;
  }

  .Plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #f6f6f6;
    border: 1px solid #b1b1b1;
    border-radius: 50%;

    > svg {
      width: 22px;
      height: 22px;
    }
  }
}

.DayTaskBox {
  width: 200px;
  padding: 6px 10px;
  background-color: #fafafa;
  border-radius: 12px;

  .Header {
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 18px;
      font-weight: bold;
      line-height: 22px;
      text-transform: capitalize;
      letter-spacing: -0.43px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border: 1px solid #b1b1b1;
      border-radius: 50%;

      > svg {
        width: 11px;
        height: 11px;
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .TaskList {
    margin-top: 3px;

    li {
      position: relative;
      display: flex;
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 13px;
      line-height: 22px;
      letter-spacing: -0.31px;
      cursor: pointer;
      user-select: none;
      border-bottom: 1px solid #f5f5f5;

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }

      svg,
      .Mark {
        position: relative;
        top: 4px;
        min-width: 13px;
        margin-right: 6px;
      }

      .Mark {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13px;
        min-width: 13px;
        height: 13px;
        min-height: 13px;
        margin-right: 6px;
        cursor: pointer;
        border: 1px solid #cdcdcd;
        border-radius: 50%;

        &.Done {
          background-image: linear-gradient(to bottom, #47f0e7, #00e795 75%);
          border: none;
        }
      }
    }
  }

  .DayTaskField {
    margin-top: 6px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.31px;
    resize: none;
    background-color: transparent;
    border: none;
    outline: none;

    &.isEdit {
      margin-top: 0;
    }
  }
}

.DescriptionBlock {
  width: 337px;
  min-width: 337px;
  margin-right: 42px;

  h2 {
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: 900;
    line-height: 41px;
    letter-spacing: -0.2px;
  }

  p {
    font-size: 16px;
    line-height: normal;
    letter-spacing: -0.3px;
  }
}

.Section {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 120px;

  &:nth-child(2) {
    padding-top: 106px;
  }

  &:nth-child(4) {
    margin-bottom: 250px;
  }
}

.AbilityBlock {
  h3 {
    margin-bottom: 7px;
    font-size: 24px;
    font-weight: bold;
    line-height: 41px;
  }
}

.Tasks {
  display: flex;
  align-items: flex-start;

  > div {
    margin-right: 10px;
  }
}

.TooltipWrapper {
  position: relative;
  display: inline-block;

  .Tooltip {
    position: absolute;
    top: calc(100% + 13px);
    z-index: 1;
    padding: 18px 12px;
    font-size: 16px;
    color: #000;
    text-align: center;
    letter-spacing: -0.38px;
    white-space: nowrap;
    background-color: #f8f8f8;
    border-radius: 12px;

    &::after {
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      content: '';
      border-color: transparent transparent #f8f8f8 transparent;
      border-style: solid;
      border-width: 5px;
    }
  }
}

.SignIn {
  h2 {
    margin-bottom: 12px;
    font-size: 33px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.38px;
  }

  .SignInButtons {
    display: flex;
    justify-content: center;

    > button {
      width: 184px;
      height: 60px;
      font-size: 24px;
      line-height: 0.92;
      letter-spacing: -0.58px;
      border: 1px solid #686868;
      border-radius: 12px;

      &:first-of-type {
        margin-right: 13px;
      }
    }
  }
}

.Note {
  margin-top: 53px;
  color: #aaa;
  text-align: center;
}
