.Wrapper {
  width: 100%;
  max-width: 630px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
  user-select: initial;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;

  h2 {
    font-size: 38px;
    font-weight: bold;
    line-height: normal;
    color: #151515;
  }
}

.DirectionChangeContainer {
  position: absolute;
  left: 0;
  display: flex;
  width: 100%;
  height: inherit;

  div {
    width: 50%;
    height: 100%;
  }
}
