.Wrapper {
  width: 100%;
  max-width: 630px;
  padding: 0 16px;
  margin: 0 auto;
  overflow: hidden;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;

  h2 {
    font-size: 38px;
    font-weight: bold;
    line-height: normal;
    color: #151515;
    letter-spacing: -0.91px;
  }
}

.DatePickerTrigger {
  height: 36px;
  padding: 8px 16px;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  letter-spacing: 0.2px;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 18px;
}
