.header {
  position: fixed;
  top: 15px;
  left: calc((100vw - 1080px) / 2);
  z-index: 2;
  width: calc(100vw - 32px);
  max-width: 1080px;
  background-color: transparent;

  @media (max-width: 1144px) {
    left: 16px;
  }

  @media (max-width: 420px) {
    position: absolute;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 0 16px;
  background-color: #f8f8f8;
  border-radius: 19px;
}

.logo {
  width: 27px;
  height: 65px;
  font-family: 'Avenir Next', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 66px;
  color: #000;
}

.left {
  display: flex;
  align-items: center;

  @media (max-width: 420px) {
    display: none;
  }
}

.center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;

  @media (max-width: 420px) {
    position: initial;
  }

  > div {
    width: 630px;
  
    @media (max-width: 420px) {
      width: 100%;
    }
  }
}

.right {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.username {
  margin-right: 14px;
  font-family: 'Helvetica Now', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000;

  @media (max-width: 420px) {
    display: none;
  }
}

.avatar {
  width: 41px;
  min-width: 41px;
  height: 41px;
  min-height: 41px;
  background-position: center;
  background-size: cover;
  border: 3px solid #808080;
  border-radius: 50%;
}

.settings {
  position: absolute;
  top: calc(100% + 7px);
  right: -16px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 156px;
  padding: 15px 25px;
  background-color: #f8f8f8;
  border-radius: 19px;

  button {
    width: 100%;
    height: 21px;
    font-family: 'Helvetica Now', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #000;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .separator {
    width: 100%;
    height: 1px;
    margin: 7px 0;
    border-bottom: 1px solid #808080;
    opacity: 0.15;
  }
}

.DatePickerTrigger {
  height: 36px;
  padding: 8px 16px;
  font-family: 'Helvetica Now', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 18px;
}
