.DatePickerTrigger {
  width: 134px;
  height: 36px;
  padding: 8px 0;
  font-family: 'SFProDisplay', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-align: center;
  letter-spacing: 0.2px;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 18px;
}
