.TaskBox {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 10px 10px 0px 0px;
  vertical-align: top;
  background: rgb(26, 36, 168);
  background: linear-gradient(
    0deg,
    rgb(172, 172, 172) 0%,
    rgb(214, 214, 214) 100%
  );
  border-radius: 10px;
}

.TaskBoxDisable {
  pointer-events: none;
  opacity: 0.3;
}

.ProgressBar {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;

  rect {
    fill: #fff;
    stroke: none;
    clip-path: url(#clipPath);
  }
}

.BoxSelected {
  opacity: 1;
}

.BoxUnselected {
  opacity: 0.3;
}

.AddBox {
  display: inline-table;
  background: lightgrey;
}

.AddBoxContents {
  display: block;
  width: 100%;
  padding-right: 5px;
  font-size: 14pt;
  font-weight: bold;
  color: black;
}

.TextBoxContents {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14pt;
  font-weight: bold;
  color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  outline: none;
}

.TextBoxInner {
  display: table-cell;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

.TextBoxInnerIsEditable {
  padding: 15px;
}

.ContextMenu {
  position: fixed;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 156px;
  padding: 15px 25px;
  background-color: #f8f8f8;
  border-radius: 19px;

  button {
    width: 100%;
    height: 21px;
    font-family: 'SF Pro Text', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    color: #000;
    text-align: center;
    letter-spacing: -0.69px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .Delete {
    color: #ea5151;
  }

  .Separator {
    width: 100%;
    height: 1px;
    margin: 7px 0;
    border-bottom: 1px solid #808080;
    opacity: 0.15;
  }
}

.Done {
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #eaeaea;
  border-radius: 50%;
  opacity: 0.9;
}

.SubtaskBox {
  position: relative;
  display: inline-block;
  width: 200px;
  padding: 5px 10px;
  margin: 10px 10px 0 0;
  overflow: hidden;
  vertical-align: top;
  background-color: #fff;
  border: 2px solid #cdcdcd;
  border-radius: 12px;

  h4 {
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    letter-spacing: -0.43px;
  }

  .AddSubtask {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: 1px solid #b1b1b1;
    border-radius: 50%;

    > svg {
      width: 11px;
      height: 11px;
    }

    &:disabled {
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
  }
}

.SubtaskBoxHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SubtaskList {
  padding: 0;
  margin: 0;
  margin-top: 3px;
  list-style-type: none;

  li {
    display: flex;
    padding: 4px 0;
    font-size: 13px;
    line-height: 22px;
    border-bottom: 1px solid #f8f8f8;

    &:last-child {
      border-bottom: none;
    }

    .Mark {
      --size: 14px;
      position: relative;
      top: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--size);
      min-width: var(--size);
      height: var(--size);
      min-height: var(--size);
      margin-right: 6px;
      border-radius: 50%;

      > div {
        --size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--size);
        min-width: var(--size);
        height: var(--size);
        min-height: var(--size);
        background: #fff;
        border-radius: 50%;

        > div {
          --size: 6px;
          width: var(--size);
          min-width: var(--size);
          height: var(--size);
          min-height: var(--size);
          border-radius: 50%;
        }
      }
    }
  }
}

.SubtaskBoxInput {
  width: 100%;
  height: 22px;
  margin: 4px 0;
  font-size: 13px;
  line-height: 22px;
  border: none;
}
