.DayTaskBox {
  padding: 6px 0;
  margin-bottom: 36px;
  border-radius: 12px;

  .Header {
    display: flex;

    h4 {
      margin-right: 12px;
      font-size: 21px;
      font-weight: bold;
      line-height: 22px;
      text-transform: capitalize;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      border: 1px solid #b1b1b1;
      border-radius: 50%;

      > svg {
        width: 11px;
        height: 11px;
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }

  .TaskList {
    margin-top: 8px;

    > li {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 40px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-size: 18px;
      line-height: 22px;
      cursor: pointer;
      user-select: none;
      border-bottom: 1px solid #f5f5f5;
      outline: none;

      > div {
        bottom: unset;
      }

      // p.isLinkMode {
      //   overflow: hidden;
      //   text-overflow: ellipsis;
      //   white-space: nowrap;
      // }

      &:hover button {
        pointer-events: initial;
        opacity: 1;
      }

      &:last-child {
        border-bottom: none;
      }

      &.isDone {
        text-decoration: line-through;
      }
    }
  }
}

.DayTaskField {
  width: 100%;
  min-height: 22px;
  line-height: 22px;
  resize: none;
  background-color: transparent;
  border: none;
  outline: none;
}

.TaskMark {
  width: 16px;
  min-width: 16px;
  margin-right: 6px;
}

.Actions {
  display: flex;
  justify-content: flex-end;
  margin: 0 8px;
  user-select: none;

  &.isLinkMode {
    opacity: 1;
  }

  button {
    margin-left: 7px;

    &.isNotYearTask {
      margin-left: 5px;
    }

    &:first-child {
      margin-left: 0;
    }
  }
}

.Links {
  display: flex;
  margin: -3.5px;
  overflow-x: auto;
  overflow-y: hidden;

  li {
    width: 21px;
    min-width: 21px;
    height: 21px;
    min-height: 21px;
    margin: 3.5px;
    border-radius: 50%;

    &.Parent:hover {
      border: 3px solid #ebebeb;
    }

    &.isSelected {
      border: 3px solid #ebebeb;
    }
  }
}

.DayTaskParagraph {
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
